%header
  .nav
    .nav-title
      .nav-title-icon
        = link_to root_path do
          = image_tag "material/logo/logo.png", size: "220x60"
      .from
        = form_with local: true, class:"from-seach" do |f|
          = f.text_field :name, class: "from-seach-area", placeholder: "キーワードから探す"
          = f.submit "検索", class: "from-seach-submit"
    .nav-link
      .nav-link-choice
        = link_to "" do
          = image_tag "material/icon/icon_category.png", size: "23x21"
          .nav-link-choice-name カテゴリから探す
        = link_to "", class: "brand" do
          = image_tag "material/icon/icon_brand.png", size: "23x21"
          .nav-link-choice-name ブランドから探す
    
      - if user_signed_in?
        %ul
          = link_to "" do
            %li いいね一覧
          = link_to "" do
            %li お知らせ
          = link_to destroy_user_session_path, method: :delete do
            %li 仮ログアウト
          = link_to mypage_index_path do
            =image_tag 'material/icon/member_photo_noimage_thumb.png'
            %li マイページ
            
      - else
        %ul
          = link_to new_user_session_path, method: :get do
            %li ログイン
          = link_to signup_index_path do
            %li 新規登録