%header
  .nav
    .nav-title
      .nav-title-icon
        = link_to "" do
          = image_tag "material/logo/logo.png", size: "220x60"
      .from
        = form_with local: true, class:"from-seach" do |f|
          = f.text_field :name, class: "from-seach-area", placeholder: "キーワードから探す"
          = f.submit "検索", class: "from-seach-submit"
  
    .categories
      %ul.categories__list
        %li
          = link_to "#", class: "category__link" do
            = image_tag "material/icon/icon_category.png", class: "category", size: "14x14"
            = "カテゴリーから探す"
          %ul.category__parent.category__list
            - @parents.each do |parent|  
              %li.category
                = link_to "#", class: "category__parent--name" do
                  = parent.name
                %ul.category__child.category__list
                  - parent.children.each do |child|
                    %li.child
                      = link_to "#", class: "category__child--name" do
                        = child.name
                      %ul.category__grandchild.category__list
                        - child.children.each do |grandchild|
                          %li.grandchild
                            = link_to "#", class: " category__child--name" do
                              = grandchild.name
      %ul
        %li
          = link_to "#", class: "brand__link" do
            = image_tag "material/icon/icon_brand.png", class: "brand", size: "14x14"
            = "ブランドから探す"

      .nav__user
        %ul.nav__user--links
          = link_to "", class: "user-login" do
            %li.login ログイン
          = link_to "", class: "user-signin" do
            %li.signin 新規登録
