%section.index__category
  %h2.index__category--top
    = "人気アイテム"
  .category__names
    %ul.category__names--box
      %li.category__names--boxs
        = link_to "#item", class: "category__a" do
          = "レディース"
      %li.category__names--boxs
        = link_to "#item", class: "category__a" do
          = "メンズ"
      %li.category__names--boxs
        = link_to "#item", class: "category__a" do
          = "家電"
      %li.category__names--boxs
        = link_to "#item", class: "category__a" do
          = "おもちゃ"

%section.products#item
  .products__list
    %h3.products__list--name
      = "アイテム一覧"
    = link_to root_path, class: "items" do
      %span
        = "もっと見る"
        = icon('fa', 'angle-right', class: 'angle')

  .product
    .product__posts
      %ul.product__posts--boxs
        - @items.each do |item|
          %li.product__posts--boxs__item
            .posts__image
              = link_to item_path(item.id), class: "product-a" do
                =image_tag item.item_images.first.image.url, class: "item-image"
                %span.posts__price
                  ￥
                  =item.price
                .posts__text
                  %p.posta__tag
                    =item.name
            - if item.buyer  != nil
              = render partial: 'partial/sold'
            -else

%section.index__category
  %h2.index__category--top
    = "人気カテゴリー"
  .category__names
    %ul.category__names--box
      %li.category__names--boxs
        = link_to "#lady", class: "category__a" do
          = "レディース"
      %li.category__names--boxs
        = link_to "#mens", class: "category__a" do
          = "メンズ"
      %li.category__names--boxs
        = link_to "#home_appliances", class: "category__a" do
          = "家電"
      %li.category__names--boxs
        = link_to "#other", class: "category__a" do
          = "その他"

%section.products#lady
  .products__list
    %h3.products__list--name
      = "レディース一覧"
    = link_to root_path, class: "items" do
      %span
        = "もっと見る"
        = icon('fa', 'angle-right', class: 'angle')

  .product
    .product__posts
      %ul.product__posts--boxs
        - @ladies.each do |item|
          %li.product__posts--boxs__item
            .posts__image
              = link_to item_path(item.id), class: "product-a" do
                = image_tag item.item_images.first.image.url, class: "item-image"
                %span.posts__price
                  ￥
                  = item.price
                .posts__text
                  %p.posta__tag
                    = item.name
            - if item.buyer  != nil
              = render partial: 'partial/sold'
            - else

%section.products#mens
  .products__list
    %h3.products__list--name
      = "メンズ一覧"
    = link_to root_path, class: "items" do
      %span
        = "もっと見る"
        = icon('fa', 'angle-right', class: 'angle')

  .product
    .product__posts
      %ul.product__posts--boxs
        - @mens.each do |item|
          %li.product__posts--boxs__item
            .posts__image
              = link_to item_path(item.id), class: "product-a" do
                =image_tag item.item_images.first.image.url, class: "item-image"
                %span.posts__price
                  ￥
                  =item.price
                .posts__text
                  %p.posta__tag
                    =item.name
            - if item.buyer  != nil
              = render partial: 'partial/sold'
            - else

%section.products#home_appliances
  .products__list
    %h3.products__list--name
      = "家電一覧"
    = link_to root_path, class: "items" do
      %span
        = "もっと見る"
        = icon('fa', 'angle-right', class: 'angle')

  .product
    .product__posts
      %ul.product__posts--boxs
        - @home_appliances.each do |item|
          %li.product__posts--boxs__item
            .posts__image
              = link_to item_path(item.id), class: "product-a" do
                =image_tag item.item_images.first.image.url, class: "item-image"
                %span.posts__price
                  ￥
                  =item.price
                = render partial: 'partial/sold'
                .posts__text
                  %p.posta__tag
                    = item.name
            - if item.buyer  != nil
              = render partial: 'partial/sold'
            - else

%section.products#other
  .products__list
    %h3.products__list--name
      = "その他一覧"
    = link_to root_path, class: "items" do
      %span
        = "もっと見る"
        = icon('fa', 'angle-right', class: 'angle')

  .product
    .product__posts
      %ul.product__posts--boxs
        - @others.each do |item|
          %li.product__posts--boxs__item
            .posts__image
              = link_to item_path(item.id), class: "product-a" do
                =image_tag item.item_images.first.image.url, class: "item-image"
                %span.posts__price
                  ￥
                  =item.price
                .posts__text
                  %p.posta__tag
                    = item.name
            - if item.buyer  != nil
              = render partial: 'partial/sold'
            - else