= render partial: 'items/header'

.buy
  %h1.buy__content
    %i.far.fa-clock
      = "発送をお待ちください"
  %h2.buy__content
    = "購入が完了しました"
  .buy__content--item
    .buy__item--main
      .buy__item--image
      = image_tag "#{@item.item_images.first.image}", size: '300x300', class: 'buydetails-contet__image'

  .buy__detail
    .buy-item-name
      = @item.name
    .buy-price
      %span 
        ="¥#{@item.price.to_s}"
      %span.tax_included
        = "(税込) 送料込み"

  .buy__price
    .buy__price--table
      = "支払金額"
    .buy__price--tabls
      = "¥#{@item.price.to_s}"

  .buy__content--submit
    = link_to "トップページへ戻る", root_path, class: "buy__content--btn"
= render partial: 'items/footer'