%section
  %ul.left__side
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "マイページ"
      = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "お知らせ"
      = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "やることリスト"
      = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "いいね！一覧"
      = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "出品する"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "下書き一覧"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "出品した商品-出品中"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "出品した商品-取引中"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "出品した商品-売却済み"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "購入した商品-取引中"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "購入した商品-過去の取引"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "ニュース一覧"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "評価一覧"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "ガイド"
        = icon('fa', 'angle-right', class: 'angle')
    %li.left__side--list
      = link_to "/", class: "left__side--list-item" do
        = "お問い合わせ"
        = icon('fa', 'angle-right', class: 'angle')

  %h3.card
    = "キャッシュレス"
    %ul.left__side
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "売り上げ・申込申請"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "ポイント"
        = icon('fa', 'angle-right', class: 'angle')
  
  %h3.information
    = "情報設定"
    %ul.left__side
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "プロフィール"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "発送先・お届け先住所変更"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to '/mypage/id/credit_card', class: "left__side--list-item" do
          = "お支払い方法"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "メール/パスワード"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "本人情報"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to "/", class: "left__side--list-item" do
          = "電話番号確認"
        = icon('fa', 'angle-right', class: 'angle')
      %li.left__side--list
        = link_to '/mypage/id/logout', class: "left__side--list-item" do
          = "ログアウト"
        = icon('fa', 'angle-right', class: 'angle')
