!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample74c
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag("material/icon/favicon.ico")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :integrity => "sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=", :src => "https://code.jquery.com/jquery-3.4.0.min.js"}
  %body
    = yield
